* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "ll r1"
  "ll r2"
  "ll r3";
}
.left{
  grid-area: ll;
  min-height: 500px;
  padding: 20px 0;
  border: 1px solid #eee;

}

/* Right1 */
.right1{
  grid-area: r1;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px 30px;
}
.right1 h2{
  color: #f44b87;
  padding-right: 500px;
  font-weight: 800;
}
.search-box{
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #f3f4f6;
  padding-right: 100px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 0 10px;
  gap: 10px;
}
.search-input {
  border: none;
  color: #333;
  background: transparent;
  font-size: 16px;
  padding-right: 100px;
  
}

.headUser{
  display: flex;
  align-items: center;
  gap: 15px
}
/* Right1 */

/* Right2 */
.right2{
  grid-area: r2;
  min-height: 200px;
  padding: 20px;
}


.ovr_gr {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ovr_gr img {
  margin-right: 10px;
}

.ovr_gr span {
  font-size: 24px;
  font-weight: bold;
}

.ovr_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card-header img {
  margin-right: 10px;
}

.card-header h3 {
  margin: 0;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.card-percentage {
  margin: 0;
}
/* Right2 */


/* Right3 */

.right3{
  grid-area: r3;
  min-height: 300px;
  padding: 20px;
}
.ovr_gr2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ovr_gr2 img {
  margin-right: 10px;
}

.ovr_gr2 span {
  font-size: 24px;
  font-weight: bold;
}

.right3-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.import-export-container {
  display: flex;
  gap: 1rem;
}

.section {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  border: 1px solid #f44b87;
  color: #f44b87;
  gap: 10px;
  cursor: pointer;
}
.section:hover {
  background-color: #fed1ea;
}
/* Right3 */
